@use './utils/mixins.scss' as mixins;
@use './utils/_variables.scss' as vars;

// Big sections
body {
    font-family: vars.$txtfont;
    width: 100%;
}

main,
header {
    margin: auto;
    width: 100%;
    @include mixins.center-of-page;
    position: relative;
}

footer {
    @include mixins.footer;
}

//End Big Sections

//Header

.head-logo {
    @include mixins.logo;
    @include mixins.head-logo;
    @include mixins.center-of-page;
}

.head-back {
    position: absolute;
    font-size: 25px;
    left: 25px;
    cursor: pointer;
}

//Header End

//Main

.resto-image {
    width: 100%;
    height: 350px;
    object-fit: cover;
    z-index: 5;
}

.menu {
    background-color: vars.$explore-color;
    width: 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding-top: 5%;
    margin-top: -15%;
    z-index: 10;
    //
    .menu__title {
        width: 90%;
        @include mixins.center-of-page;
        @include mixins.flex-row;
        justify-content: space-between;
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 5%;
        
        .menu__title--txt {
            @include mixins.big-text;
            font-style: oblique 15deg;
            font-weight: 500;
            @include mixins.logo;
            cursor : default;
            padding-bottom: 0px;
        }

        .menu__title--icon {
            font-size: 30px;
            margin-right: 2.5%;
            cursor: pointer;
        }
        .menu__title--icon:hover {
            @include mixins.like-clicked;
        }
    }

    .plats-container {
        .plats {
            @include mixins.flex-col;
            width: 90%;
            margin: auto;
            padding-top: 5%;
            .sous-menu {
                @include mixins.flex-col;
                margin-bottom: 2%;
                .sous-menu__title {
                    padding-bottom: 5px;
                    font-size: 18px;
                }
                .sous-menu__border {
                    height: 0px;
                    background-color: vars.$third-color;
                    margin-left: 2px;
                    border-style: solid;
                    border-color: vars.$third-color;
                    border-width: 2px;
                    width: 40px;
                }
            }
            
            .plat {
                @include mixins.flex-row;
                justify-content: space-between;
                background-color: vars.$white;
                width: 100%;
                height: 80px;
                margin-top: 3.25%;
                margin-bottom: 3.25%;
                border-radius: 18px;
                animation: fadein 1s, movement 1s;
                @for $i from 1 through 5{
                    &:nth-of-type(#{$i}) {
                        animation-fill-mode:both;
                        animation-delay: $i * 300ms;
                    }  
                }
                //position: relative;
                //animation: fadein 1s, movement 1s;
                cursor: pointer;
                .plat__txt{
                    //box-sizing: border-box;
                    @include mixins.flex-col;
                    justify-content: space-between;
                    padding: 15px;
                    width: calc(90% - 15px);
                    transition: width 800ms ease-in-out;
                    .plat__txt--title {
                        @include mixins.larger-text;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                    .plat__txt--subtitle{
                        font-size: 16px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                }
                .plat__prix {
                    width: 5%;
                    font-size: 17px;
                    font-weight: 600;
                    margin-right: 5%;
                    margin-top: 50px;
                }
                .plat__selected {
                    @include mixins.center-of-page;
                    background-color: vars.$third-color;
                    height: 80px;
                    width: 0px;
                    border-top-right-radius: 18px;
                    border-bottom-right-radius: 18px;
                    opacity: 0;
                    transition: width 800ms ease-in-out, opacity 800ms ease-in;
                    .plat__selected--icon {
                        font-size: 26px;
                        color: vars.$white;
                        opacity: 0;
                        transition: 0.7s ease-in;
                        transform:  rotate(-360deg);
                    }
    
                }
            }
            .plat:hover {
                .plat__txt{
                    width: calc(87.5% - 95px);
                }
                .plat__selected {
                    width: 80px;
                    opacity: 1;
                    .plat__selected--icon {
                        transition: 0.85s ease-in;
                        opacity: 1;
                        transform:  rotate(360deg);
                    }
                }
            }
        }
    }
    
    .cmd {
        @include mixins.center-of-page;
        margin-top: 10%;
        margin-bottom: 15%;
        .cmd__btn {
            @include mixins.website-btn;
        }
    }
}

@keyframes fadein {
    0% {
        transform: translateY(7.5%);
        opacity:0;
    }
    50% {
        opacity:0.5;
    }
    100% {
        opacity:1;
        transform: translateY(0%);
    }
}

@keyframes movement-price {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(5%);
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}

@keyframes txt-width {
    0% {
        width: calc(90% - 15px);
    }
    100% {
        width: calc(90% - 2.5% - 15px - 120px);
    }
}

@keyframes movement {
    from {
        margin-top: 5%;
    }
    to {
        margin-top: 0%;
    }
}

@keyframes movement-plat-hover {
    from {
        width: 0px;
    }
    to {
        width: 120px;
    }
}

@keyframes movement-plat-hover-reverse {
    from {
        width: 120px;
    }
    to {
        width: 0px;
    }
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

//Main End

//Footer

.footer-logo {
    @include mixins.logo;
    @include mixins.footer-logo;
}

.footer-links {
    @include mixins.flex-col;
}

.footer-link {
    @include mixins.footer-link;
    cursor: pointer;
    .footer-link__icon {
        margin-right: 10px;
    }
    .footer-link__noicon {
        display: none;
    }
    .footer-link__txt {
        font-weight: 500;
    }
}

//Footer End