@use './utils/_mixins.scss' as mixins;
@use './utils/_variables.scss' as vars;

*::-webkit-scrollbar {
    display: none;
  }

// Big sections
body {
    font-family: vars.$txtfont;
    width: 100%;
}

main,
header {
    margin: auto;
    width: 100%;
    @include mixins.center-of-page;
}

footer {
    @include mixins.footer;
}

//End Big Sections

//Loader

.loader {
    background: transparent;
    background: radial-gradient(transparent 0%, rgb(176, 137, 224) 100%);
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    animation: load ease;
    animation-duration: 7s;
    animation-fill-mode: forwards; 
    @include mixins.flex-col;
    .load-title {
        bottom: 0;
        height: 60px;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 35px;
        @include mixins.center-of-page;
        padding-top: 180px;
        @include mixins.logo;
        animation-name: wave;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        animation-duration: 2s;
    }
}

@keyframes wave {
    40%,
    50% {
      transform: scale(1.08);
    }
  
    0%,
    95%,
    100% {
      transform: scale(0.95);
    }
  }

@keyframes load {
    0%, 99.999%{
        z-index: 9999;
    }
    100% {
        width: 0px;
        height: 0px;
        display: none;
        z-index: -100;
    }
}

.loader-inner {
    bottom: 0;
    height: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}

.loader-line-wrap {
    animation: spin cubic-bezier(.175, .885, .32, 1.275);
    animation-duration: 2s;
    box-sizing: border-box;
    height: 50px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform-origin: 50% 100%;
    width: 100px;
}
.loader-line {
    border: 4px solid transparent;
    border-radius: 100%;
    box-sizing: border-box;
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}
.loader-line-wrap:nth-child(1) { animation-delay: -50ms; }
.loader-line-wrap:nth-child(2) { animation-delay: -100ms; }
.loader-line-wrap:nth-child(3) { animation-delay: -150ms; }
.loader-line-wrap:nth-child(4) { animation-delay: -200ms; }
.loader-line-wrap:nth-child(5) { animation-delay: -250ms; }

.loader-line-wrap:nth-child(1) .loader-line {
    border-color: hsl(0, 80%, 60%);
    height: 90px;
    width: 90px;
    top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
    border-color: hsl(60, 80%, 60%);
    height: 76px;
    width: 76px;
    top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
    border-color: hsl(120, 80%, 60%);
    height: 62px;
    width: 62px;
    top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
    border-color: hsl(180, 80%, 60%);
    height: 48px;
    width: 48px;
    top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
    border-color: hsl(240, 80%, 60%);
    height: 34px;
    width: 34px;
    top: 35px;
}

@keyframes spin {
    0%, 15% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
    
}

//End loader

//Header

.head-logo {
    @include mixins.logo;
    @include mixins.head-logo;
    @include mixins.center-of-page;
}

.localisation {
    @include mixins.center-of-page;
    @include mixins.localisation;
    .localisation__icon {
        margin-right: 20px;
        font-size: large;
    }
    .localisation__txt {
        font-weight: 500;
    }
    box-shadow: inset 0px 1px 2.5px -1px black;
}

//Header End

//Main

.explore {
    background-color: vars.$explore-color;
    padding-top: 10%;
    padding-bottom: 10%;
    @include mixins.flex-col;
    width: 100%;
    .explore__title {
        @include mixins.center-text;
        @include mixins.big-text;
        width: 75%;
    }
    .explore__subtitle {
        font-size: larger;
        @include mixins.center-text;
        padding-bottom: 7.5%;
        width: 80%;
    }
    .explore__btn {
        @include mixins.website-btn;
        @include mixins.light-shadow;
    }
}

.usage {
    @include mixins.flex-col;
    width: 90%;
    padding-bottom: 5%;
    .usage__txt{
        padding-top: 15%;
        @include mixins.big-text;
        width: 75%;
    }
    .usage__item {
        @include mixins.flex-row;
        background-color: vars.$explore-color;
        height: 80px;
        width: calc(100% - 10px);
        border-radius: 20px;
        margin-left: 10px;
        margin-bottom: 7.5%;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        @include mixins.light-shadow;
        .usage__item--index {
            display: flex;
            color: vars.$white;
            background-color: vars.$first-color;
            display: flex;
            width: 25px;
            height: 25px;
            border-radius: 20px;
            font-size: 15px;
            @include mixins.center-of-page;
            margin-left: -10px;
            
        }

        //usage-color ici
        .usage__item--icon {
            color: vars.$icons-colors;
            font-size: 18px;
            padding-right: 7.5%;
        }
        .usage__item--txt {
            font-weight: 600;
            display: flex;
            width: 80%;
        }
    }
    .usage__item:hover {
        .usage__item--icon {
            color: vars.$first-color;
        }
        background-color: #edf1ff;
    }
}

@function usage-color($index){
    @if $index == 3 {
        @return vars.$first-color;
    }
    @return vars.$icons-colors;
}

.restos-section {
    background-color: vars.$explore-color;
    width: 100%;
    @include mixins.center-of-page;
    margin-top: 7.5%;
}

.restos {
    @include mixins.flex-col;
    background-color: vars.$explore-color;
    width: 90%;
    padding-bottom: 5%;
    .restos__txt{
        padding-top: 15%;
        @include mixins.big-text;
        width: 75%;
    }
    .restos__item{
        position: relative;
        cursor: pointer;
        background-color: #fff;
        border-radius: 20px;
        width: 100%;
        height: 255px;
        @include mixins.flex-col;
        margin-bottom: 25px;
        @include mixins.light-shadow;
        .restos__item--is-new {
            width: 70px;
            height: 25px;
            background-color: vars.$third-color;
            color: black;
            @include mixins.center-of-page;
            position: absolute;
            top: 20px;
            right: 15px;
            z-index: 100;
            font-size: 14px;
            border-radius: 2.5px;
        }
        .restos__item--image {
            height: 180px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            object-fit: cover;
        }
        .resto{
            @include mixins.flex-row;
            height: 75px;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            padding-top: 12.5px;
            padding-bottom: 17.5px;
            padding-left: 15px;
            .resto__txt {
                width: 90%;
                @include mixins.flex-col;
                justify-content: space-between;
                
                .resto__txt--title{
                    font-size: 18px;
                    font-weight: 800;
                    display: block;
                }
                .resto__txt--subtitle{
                    font-size: 16px;
                }
            }
            .resto__like {
                .resto__like--icon{
                    margin-top: 5px;
                    margin-right: 25px;
                    font-size: 25px;
                    height: 45px;
                    //background : linear-gradient(175deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
                }
                .resto__like--icon:hover {
                    @include mixins.like-clicked;
                }
            }
        } 
    }
}


//Main End


//Footer

.footer-logo {
    @include mixins.logo;
    @include mixins.footer-logo;
}

.footer-links {
    @include mixins.flex-col;
}

.footer-link {
    @include mixins.footer-link;
    cursor: pointer;
    .footer-link__icon {
        margin-right: 10px;
    }
    .footer-link__noicon {
        display: none;
    }
    .footer-link__txt {
        font-weight: 500;
    }
}

//Footer End