@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
//Variables

$first-color : #9356DC;
$second-color : #FF79DA ;
$third-color : #99E2D0;
$black : #000000;
$grey: #f5eff5;
$explore-color: #f6eef6;
$white : #ffffff;
$footer-color: #48434A;
$icons-colors : #808080;


$logoandtitlefont : "Shrikhand";
$txtfont : "Roboto";